<div id="cart" class="header-wrapicon2" data-toggle="dropdown" data-loading-text="{{ text_loading }}">
    <img src="catalog/view/theme/tumbuhbaru/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON"><span class="header-icons-noti">{{ text_items }}</span>

  <!-- Header cart noti -->
  <div class="header-cart header-dropdown">
    {% if products or vouchers %}
    <ul class="header-cart-wrapitem">
    {% for product in products %}
      <li class="header-cart-item">
        <div class="header-cart-item-img" onclick="cart.remove('{{ product.cart_id }}');">
          {% if product.thumb %} <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"/> {% endif %}
        </div>

        <div class="header-cart-item-txt">
          <a href="{{ product.href }}" class="header-cart-item-name">
            {{ product.name }}
          </a>
          {% if product.option %}
          {% for option in product.option %} <br />
          - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
          {% endif %}
          {% if product.recurring %} <br />
          - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}

          <span class="header-cart-item-info">
            {{ product.quantity }} x {{ product.price }}
          </span>
        </div>
      </li>
    {% endfor %}

    </ul>

    <div class="header-cart-total">
      <table class="table table-bordered">
      {% for total in totals %}
        <tr>
          <td class="text-right"><strong>{{ total.title }}</strong></td>
          <td class="text-right">{{ total.text }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="header-cart-buttons">
      <div class="header-cart-wrapbtn">
        <!-- Button -->
        <a href="{{ cart }}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
          {{ text_cart }}
        </a>
      </div>

      <div class="header-cart-wrapbtn">
        <!-- Button -->
        <a href="{{ checkout }}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
          {{ text_checkout }}
        </a>
      </div>
    </div>
    {% else %}
      <p class="text-center">{{ text_empty }}</p>
    {% endif %}
  </div>
</div>